.address-card{
    border: 1px gray solid;
    padding: 15px;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    color:red
}
.address{
    font-size: small;
}
.phone{
    border-left: 1px gray solid;
    padding-left: 5px;
}